In [1]:
# Import our libraries.
import pandas as pd
import numpy as np

In [2]:
# Read in and combine corruption perception index 1995 - 2011

cpi_1 = pd.DataFrame()

for i in range(1995, 2012, 1):
    cpi_temp = pd.read_csv(f'./datasets_cpi/{i}_cpi.csv')
    cpi_temp = cpi_temp.loc[:, ['country', 'iso', 'score']]
    cpi_temp['year'] = i
    cpi_temp['score'] = cpi_temp['score'] * 10
    cpi_1 = pd.concat([cpi_1, cpi_temp], ignore_index = True)
    
cpi_1 = cpi_1[['country', 'iso', 'year', 'score']]

In [3]:
cpi_1.head()

       country  iso  year  score
0  New Zealand  NZL  1995   95.5
1      Denmark  DNK  1995   93.2
2    Singapore  SGP  1995   92.6
3      Finland  FIN  1995   91.2
4       Canada  CAN  1995   88.7

In [4]:
# Read in 2012 - 2022 cpi csv and correct format
cpi_2 = pd.DataFrame()

cpi = pd.read_csv('./datasets_cpi/2012_2022_cpi.csv')
cpi_cols = cpi[[col for col in cpi.columns if 'CPI' in col]]
cpi_2[['country', 'iso']] = cpi.iloc[:,:2]
cpi_2 = pd.concat([cpi_2, cpi_cols], axis = 1)
cpi_2

,country,iso,CPI score 2022,CPI score 2021,CPI score 2020,CPI score 2019,CPI score 2018,CPI score 2017,CPI score 2016,CPI score 2015,CPI score 2014,CPI Score 2013,CPI Score 2012
0,Afghanistan,AFG,24.0,16.0,19.0,16.0,16.0,15.0,15.0,11.0,12.0,8.0,8.0
1,Albania,ALB,36.0,35.0,36.0,35.0,36.0,38.0,39.0,36.0,33.0,31.0,33.0
2,United Arab Emirates,ARE,67.0,69.0,71.0,71.0,70.0,71.0,66.0,70.0,70.0,69.0,68.0
3,Angola,AGO,33.0,29.0,27.0,26.0,19.0,19.0,18.0,15.0,19.0,23.0,22.0
4,Argentina,ARG,38.0,38.0,42.0,45.0,40.0,39.0,36.0,32.0,34.0,34.0,35.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
176,Venezuela,VEN,14.0,14.0,15.0,16.0,18.0,18.0,17.0,17.0,19.0,20.0,19.0
177,Vietnam,VNM,42.0,39.0,36.0,37.0,33.0,35.0,33.0,31.0,31.0,31.0,31.0
178,Syria,SYR,13.0,13.0,14.0,13.0,13.0,14.0,13.0,18.0,20.0,17.0,26.0
179,Zambia,ZMB,33.0,33.0,33.0,34.0,35.0,37.0,38.0,38.0,38.0,38.0,37.0
180,Zimbabwe,ZWE,23.0,23.0,24.0,24.0,22.0,22.0,22.0,21.0,21.0,21.0,20.0

In [5]:
cpi_3 = pd.DataFrame()

j = 12

for i in range(2012, 2023, 1):
    cpi_temp = cpi_2.iloc[:, :2]
    cpi_temp['year'] = i
    cpi_temp['score'] = cpi_2.iloc[:, j]
    cpi_3 = pd.concat([cpi_3, cpi_temp], ignore_index = True)
    j -= 1
cpi_3.head()

                country  iso  year  score
0           Afghanistan  AFG  2012    8.0
1               Albania  ALB  2012   33.0
2  United Arab Emirates  ARE  2012   68.0
3                Angola  AGO  2012   22.0
4             Argentina  ARG  2012   35.0

In [6]:
df_cpi = pd.concat([cpi_1, cpi_3], ignore_index = True)
df_cpi

          country  iso  year  score
0     New Zealand  NZL  1995   95.5
1         Denmark  DNK  1995   93.2
2       Singapore  SGP  1995   92.6
3         Finland  FIN  1995   91.2
4          Canada  CAN  1995   88.7
...           ...  ...   ...    ...
4102    Venezuela  VEN  2022   14.0
4103      Vietnam  VNM  2022   42.0
4104        Syria  SYR  2022   13.0
4105       Zambia  ZMB  2022   33.0
4106     Zimbabwe  ZWE  2022   23.0

[4107 rows x 4 columns]

In [7]:
df_cpi.isnull().sum()

country     0
iso         0
year        0
score      42
dtype: int64

In [8]:
df_cpi.to_csv('./datasets_cpi/cpi.csv')

In [9]:
df_cpi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4107 entries, 0 to 4106
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   country  4107 non-null   object
 1   iso      4107 non-null   object
 2   year     4107 non-null   int64
 3   score    4065 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 128.5+ KB